header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
}
i {
    font-size: 25px;
}
.intro {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.intro > div {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.intro > button {
    background-color: #8BA17A;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    max-height: 40px;
    width: 30vw;
}
.viagens {
    padding: 20px;
}
.viagens > div > button {
    background-color: #8BA17A;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
    max-height: 40px;
}
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }
    .intro button {
        width: 100%;
        margin-top: 20px;
    }
}